<h5> Exemplo de Pipes:
</h5>


<p>Titulo: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number: '1.1-1' }}</p>
<p>Paginas:  {{ livro.numeroPaginas | number }}</p>
<p>Preco: {{livro.preco | currency:'BRL'}}</p>
<p>Data Lancamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }} </p>

<br>
<br>
<p>Livro: {{ livro | json }}</p>
<br>
<br>
<input type="text" [(ngModel)]="filtro"><br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>
<ul>
    <li *ngFor="let liv of livros | filtroarray:filtro">{{ liv }}</li>
</ul>
<ul>
    <li *ngFor="let liv of livros | filtroArrayPipeImpuro:filtro">{{ liv }}</li>
</ul>


<h5> certo  </h5>
<ul>
    <li *ngFor="let liv of obterCursos()">{{ liv }}</li>
</ul>